language: android
android:
  components:
    - build-tools-28.0.0
    - android-28
    - extra
script:
 - ./gradlew build connectedCheck
before_install:
- chmod +x gradlew
licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'